In [5]:
import pandas as pd
import numpy as np

In [16]:
df=pd.read_csv(r"C:\Users\MACHINE\Documents\5th sem\internship\contact\Gowalla_totalCheckins.txt" , names=['row','Date','Lat','long','loc id'],delimiter='\t')

In [ ]:
print("hello")

In [95]:
df_100=df.head(100)
print(screenshot)

         row                  Date        Lat       long   loc id      Time  \
loc id
22847      0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847  23:55:27
420315     0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315  22:17:43
316637     0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637  23:42:03
16516      0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516  19:26:05
5535878    0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878  18:50:42
...      ...                   ...        ...        ...      ...       ...
9263       0  2010-08-25T02:03:08Z  30.263775 -97.770660     9263  02:03:08
9241       0  2010-08-24T17:33:20Z  30.270734 -97.753703     9241  17:33:20
420315     0  2010-08-24T16:26:53Z  30.269103 -97.749395   420315  16:26:53
21714      0  2010-08-23T14:45:49Z  30.267910 -97.749312    21714  14:45:49
18417      0  2010-08-21T18:10:00Z  30.244860 -97.757163    18417  18:10:00

              Dates
loc id
22847    2010-10-19
420315   2010-10-18
316637   2010-10-17
16516    2010-10-17
5535878  2010-10-16
...             ...
9263     2010-08-25
9241     2010-08-24
420315   2010-08-24
21714    2010-08-23
18417    2010-08-21

[100 rows x 7 columns]

In [96]:
def conv(df_100):
    df_100['Time']=pd.to_datetime(df['Date']).dt.time
    df_100['Dates'] = pd.to_datetime(df['Date']).dt.date
    print(df_100)
conv(df_100)

<ipython-input-96-fd4c06bfb49d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_100['Time']=pd.to_datetime(df['Date']).dt.time

    row                  Date        Lat       long   loc id      Time  \
0     0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847  23:55:27
1     0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315  22:17:43
2     0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637  23:42:03
3     0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516  19:26:05
4     0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878  18:50:42
..  ...                   ...        ...        ...      ...       ...
95    0  2010-08-25T02:03:08Z  30.263775 -97.770660     9263  02:03:08
96    0  2010-08-24T17:33:20Z  30.270734 -97.753703     9241  17:33:20
97    0  2010-08-24T16:26:53Z  30.269103 -97.749395   420315  16:26:53
98    0  2010-08-23T14:45:49Z  30.267910 -97.749312    21714  14:45:49
99    0  2010-08-21T18:10:00Z  30.244860 -97.757163    18417  18:10:00

         Dates
0   2010-10-19
1   2010-10-18
2   2010-10-17
3   2010-10-17
4   2010-10-16
..         ...
95  2010-08-25
96  2010-08-24
97  2010-08-24
98  2010-08-23
99  2010-08-21

[100 rows x 7 columns]

<ipython-input-96-fd4c06bfb49d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_100['Dates'] = pd.to_datetime(df['Date']).dt.date

In [97]:
df_100=df_100.set_index(df_100['loc id'])

In [101]:
for x in df_100:
    print(df_100.loc[df_100["loc id"]==420315])

Empty DataFrame
Columns: [row, Date, Lat, long, loc id, Time, Dates]
Index: []

<ipython-input-81-d364514d9bda>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  screenshot['Time']=pd.to_datetime(df['Date']).dt.time

In [82]:
print(screenshot['Time'])

0     23:55:27
1     22:17:43
2     23:42:03
3     19:26:05
4     18:50:42
        ...
95    02:03:08
96    17:33:20
97    16:26:53
98    14:45:49
99    18:10:00
Name: Time, Length: 100, dtype: object

<ipython-input-83-b78579cacb73>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  screenshot['Dates'] = pd.to_datetime(df['Date']).dt.date

In [84]:
print(screenshot['Dates'])

0     2010-10-19
1     2010-10-18
2     2010-10-17
3     2010-10-17
4     2010-10-16
         ...
95    2010-08-25
96    2010-08-24
97    2010-08-24
98    2010-08-23
99    2010-08-21
Name: Dates, Length: 100, dtype: object

In [85]:


z=screenshot.groupby(['loc id', 'Dates']).count()
f=screenshot['loc id'].unique()
print(f)

[  22847  420315  316637   16516 5535878   15372   21714  153505   23261
   16907   12973  341255  260957 1933724  105068   34817   27836   15079
   22806 1365909   11844   11742   19822   15169   11794 1567837   35513
   87914   16397   17710   60450   12313   34484   49215   16431   18417
 1151119 4256132  211286  539065   15590  121955   25151 1145567   46946
   24276 3842712   17602   17236    8964    8938   19224  157923   18329
   17526  232292   64830    9263 1576090    9223    9313 1067829  480992
    9508 2587606 2587024   11934    9225    9241]

In [89]:
screenshot=screenshot.set_index(screenshot['loc id'])

In [73]:
#z.to_dict()

{'row': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,
  (480992, datetime.date(2010, 8, 26)): 1,
  (480992, datetime.date(2010, 8, 30)): 1,
  (539065, datetime.date(2010, 9, 29)): 1,
  (1067829, datetime.date(2010, 9, 1)): 1,
  (1145567, datetime.date(2010, 9, 25)): 1,
  (1151119, datetime.date(2010, 10, 2)): 1,
  (1365909, datetime.date(2010, 10, 9)): 1,
  (1567837, datetime.date(2010, 10, 8)): 1,
  (1576090, datetime.date(2010, 9, 5)): 1,
  (1933724, datetime.date(2010, 10, 10)): 1,
  (2587024, datetime.date(2010, 8, 28)): 1,
  (2587606, datetime.date(2010, 8, 28)): 1,
  (3842712, datetime.date(2010, 9, 17)): 1,
  (4256132, datetime.date(2010, 10, 2)): 1,
  (5535878, datetime.date(2010, 10, 16)): 1},
 'Date': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,
  (480992, datetime.date(2010, 8, 26)): 1,
  (480992, datetime.date(2010, 8, 30)): 1,
  (539065, datetime.date(2010, 9, 29)): 1,
  (1067829, datetime.date(2010, 9, 1)): 1,
  (1145567, datetime.date(2010, 9, 25)): 1,
  (1151119, datetime.date(2010, 10, 2)): 1,
  (1365909, datetime.date(2010, 10, 9)): 1,
  (1567837, datetime.date(2010, 10, 8)): 1,
  (1576090, datetime.date(2010, 9, 5)): 1,
  (1933724, datetime.date(2010, 10, 10)): 1,
  (2587024, datetime.date(2010, 8, 28)): 1,
  (2587606, datetime.date(2010, 8, 28)): 1,
  (3842712, datetime.date(2010, 9, 17)): 1,
  (4256132, datetime.date(2010, 10, 2)): 1,
  (5535878, datetime.date(2010, 10, 16)): 1},
 'Lat': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,
  (480992, datetime.date(2010, 8, 26)): 1,
  (480992, datetime.date(2010, 8, 30)): 1,
  (539065, datetime.date(2010, 9, 29)): 1,
  (1067829, datetime.date(2010, 9, 1)): 1,
  (1145567, datetime.date(2010, 9, 25)): 1,
  (1151119, datetime.date(2010, 10, 2)): 1,
  (1365909, datetime.date(2010, 10, 9)): 1,
  (1567837, datetime.date(2010, 10, 8)): 1,
  (1576090, datetime.date(2010, 9, 5)): 1,
  (1933724, datetime.date(2010, 10, 10)): 1,
  (2587024, datetime.date(2010, 8, 28)): 1,
  (2587606, datetime.date(2010, 8, 28)): 1,
  (3842712, datetime.date(2010, 9, 17)): 1,
  (4256132, datetime.date(2010, 10, 2)): 1,
  (5535878, datetime.date(2010, 10, 16)): 1},
 'long': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,
  (480992, datetime.date(2010, 8, 26)): 1,
  (480992, datetime.date(2010, 8, 30)): 1,
  (539065, datetime.date(2010, 9, 29)): 1,
  (1067829, datetime.date(2010, 9, 1)): 1,
  (1145567, datetime.date(2010, 9, 25)): 1,
  (1151119, datetime.date(2010, 10, 2)): 1,
  (1365909, datetime.date(2010, 10, 9)): 1,
  (1567837, datetime.date(2010, 10, 8)): 1,
  (1576090, datetime.date(2010, 9, 5)): 1,
  (1933724, datetime.date(2010, 10, 10)): 1,
  (2587024, datetime.date(2010, 8, 28)): 1,
  (2587606, datetime.date(2010, 8, 28)): 1,
  (3842712, datetime.date(2010, 9, 17)): 1,
  (4256132, datetime.date(2010, 10, 2)): 1,
  (5535878, datetime.date(2010, 10, 16)): 1},
 'Time': {(8938, datetime.date(2010, 9, 12)): 1,
  (8964, datetime.date(2010, 9, 13)): 1,
  (9223, datetime.date(2010, 9, 4)): 1,
  (9225, datetime.date(2010, 8, 26)): 1,
  (9241, datetime.date(2010, 8, 24)): 1,
  (9263, datetime.date(2010, 8, 25)): 1,
  (9263, datetime.date(2010, 8, 28)): 1,
  (9263, datetime.date(2010, 9, 6)): 1,
  (9313, datetime.date(2010, 9, 3)): 1,
  (9508, datetime.date(2010, 8, 30)): 1,
  (11742, datetime.date(2010, 10, 8)): 1,
  (11794, datetime.date(2010, 10, 8)): 1,
  (11844, datetime.date(2010, 10, 9)): 1,
  (11934, datetime.date(2010, 8, 28)): 1,
  (12313, datetime.date(2010, 10, 7)): 1,
  (12973, datetime.date(2010, 10, 11)): 1,
  (15079, datetime.date(2010, 10, 9)): 2,
  (15169, datetime.date(2010, 10, 8)): 1,
  (15372, datetime.date(2010, 10, 12)): 1,
  (15590, datetime.date(2010, 9, 28)): 1,
  (16397, datetime.date(2010, 10, 7)): 1,
  (16431, datetime.date(2010, 10, 5)): 1,
  (16516, datetime.date(2010, 10, 17)): 1,
  (16907, datetime.date(2010, 10, 11)): 1,
  (17236, datetime.date(2010, 9, 13)): 1,
  (17526, datetime.date(2010, 9, 11)): 1,
  (17602, datetime.date(2010, 9, 13)): 1,
  (17710, datetime.date(2010, 10, 7)): 1,
  (18329, datetime.date(2010, 9, 11)): 1,
  (18417, datetime.date(2010, 8, 21)): 1,
  (18417, datetime.date(2010, 8, 28)): 1,
  (18417, datetime.date(2010, 9, 1)): 1,
  (18417, datetime.date(2010, 9, 4)): 1,
  (18417, datetime.date(2010, 10, 3)): 1,
  (19224, datetime.date(2010, 9, 11)): 1,
  (19822, datetime.date(2010, 10, 8)): 1,
  (21714, datetime.date(2010, 8, 23)): 1,
  (21714, datetime.date(2010, 8, 30)): 1,
  (21714, datetime.date(2010, 9, 21)): 1,
  (21714, datetime.date(2010, 9, 22)): 1,
  (21714, datetime.date(2010, 9, 24)): 1,
  (21714, datetime.date(2010, 10, 1)): 1,
  (21714, datetime.date(2010, 10, 4)): 1,
  (21714, datetime.date(2010, 10, 12)): 1,
  (22806, datetime.date(2010, 10, 9)): 1,
  (22847, datetime.date(2010, 10, 19)): 1,
  (23261, datetime.date(2010, 10, 7)): 1,
  (23261, datetime.date(2010, 10, 12)): 1,
  (24276, datetime.date(2010, 8, 26)): 1,
  (24276, datetime.date(2010, 9, 21)): 1,
  (25151, datetime.date(2010, 8, 28)): 1,
  (25151, datetime.date(2010, 9, 25)): 1,
  (27836, datetime.date(2010, 10, 9)): 1,
  (34484, datetime.date(2010, 10, 7)): 1,
  (34817, datetime.date(2010, 10, 9)): 1,
  (35513, datetime.date(2010, 10, 8)): 1,
  (46946, datetime.date(2010, 9, 22)): 1,
  (49215, datetime.date(2010, 10, 5)): 1,
  (60450, datetime.date(2010, 10, 7)): 1,
  (64830, datetime.date(2010, 9, 9)): 1,
  (87914, datetime.date(2010, 10, 8)): 1,
  (105068, datetime.date(2010, 10, 10)): 1,
  (121955, datetime.date(2010, 9, 26)): 1,
  (153505, datetime.date(2010, 10, 12)): 1,
  (157923, datetime.date(2010, 9, 11)): 1,
  (211286, datetime.date(2010, 9, 30)): 1,
  (232292, datetime.date(2010, 9, 9)): 1,
  (260957, datetime.date(2010, 10, 10)): 1,
  (316637, datetime.date(2010, 10, 17)): 1,
  (341255, datetime.date(2010, 10, 11)): 1,
  (420315, datetime.date(2010, 8, 24)): 1,
  (420315, datetime.date(2010, 8, 25)): 1,
  (420315, datetime.date(2010, 8, 31)): 1,
  (420315, datetime.date(2010, 9, 7)): 2,
  (420315, datetime.date(2010, 9, 8)): 1,
  (420315, datetime.date(2010, 9, 15)): 1,
  (420315, datetime.date(2010, 9, 24)): 1,
  (420315, datetime.date(2010, 9, 27)): 1,
  (420315, datetime.date(2010, 10, 5)): 1,
  (420315, datetime.date(2010, 10, 6)): 1,
  (420315, datetime.date(2010, 10, 12)): 2,
  (420315, datetime.date(2010, 10, 18)): 1,

In [93]:
for loc in screenshot:
    if loc == 15079 and :
        print(screenshot.loc[loc],"\n")
        
        
        
        
# df.loc[df['column name'] condition, 'new column name'] = 'value if condition is met'

        row                  Date        Lat       long  loc id      Time  \
loc id
15079     0  2010-10-09T21:39:26Z  40.742396 -74.007543   15079  21:39:26
15079     0  2010-10-09T21:36:05Z  40.742396 -74.007543   15079  21:36:05

             Dates
loc id
15079   2010-10-09
15079   2010-10-09

        row                  Date        Lat       long  loc id      Time  \
loc id
15079     0  2010-10-09T21:39:26Z  40.742396 -74.007543   15079  21:39:26
15079     0  2010-10-09T21:36:05Z  40.742396 -74.007543   15079  21:36:05

             Dates
loc id
15079   2010-10-09
15079   2010-10-09

In [79]:
for x in f:
    if x==15079:
        print(z["row"][x])

Dates
2010-10-09    2
Name: row, dtype: int64

In [64]:
for x in f:
    if f["loc id"]=="9223":
        print(f["Dates"])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

AttributeError: 'function' object has no attribute 'screenshot'

                    row  Date  Lat  long  Time
loc id  Dates
15372   2010-10-12    1     1    1     1     1
16516   2010-10-17    1     1    1     1     1
21714   2010-10-12    1     1    1     1     1
22847   2010-10-19    1     1    1     1     1
153505  2010-10-12    1     1    1     1     1
316637  2010-10-17    1     1    1     1     1
420315  2010-10-12    2     2    2     2     2
        2010-10-18    1     1    1     1     1
5535878 2010-10-16    1     1    1     1     1

In [32]:
print(z)

                    row  Date  Lat  long  Time
loc id  Dates
15372   2010-10-12    1     1    1     1     1
16516   2010-10-17    1     1    1     1     1
21714   2010-10-12    1     1    1     1     1
22847   2010-10-19    1     1    1     1     1
153505  2010-10-12    1     1    1     1     1
316637  2010-10-17    1     1    1     1     1
420315  2010-10-12    2     2    2     2     2
        2010-10-18    1     1    1     1     1
5535878 2010-10-16    1     1    1     1     1

In [23]:
screenshot[["Date1"],["time"]]=screenshot.Date.apply(lambda x: pd.Series(str(x).split("T")))

TypeError: unhashable type: 'list'

In [ ]:
print(df)

In [ ]:
y=df.head(10)

In [ ]:
print("hello")

In [18]:
df

            row                  Date        Lat       long   loc id
0             0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847
1             0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
2             0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
3             0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
4             0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878
...         ...                   ...        ...        ...      ...
6442887  196578  2010-06-11T13:32:26Z  51.742988  -0.488065   906885
6442888  196578  2010-06-11T13:26:45Z  51.746492  -0.490780   965121
6442889  196578  2010-06-11T13:26:34Z  51.741916  -0.496729  1174322
6442890  196585  2010-10-08T21:01:49Z  50.105516   8.571525   471724
6442891  196585  2010-10-07T17:39:18Z  50.027812   8.785098  4555073

[6442892 rows x 5 columns]